ol {
  background-color: #ffff00;
}

ol li:nth-child(2n) {
  color: green;
}

ol li:nth-child(2n + 1) {
  text-transform: uppercase;
}

ul,
ol {
  width: 500px;
  line-height: 30px;
}
li {
  font-size: 20px;
}

li em {
  font-weight: 700;
}

.title {
  color: #ff0000;
}

.title em {
  font-size: 40px;
  border: 1px solid #000;
}

.list-lang li {
  margin-bottom: 5px;
}

.list-lang li:nth-child(n + 2):nth-child(-n + 4) {
  color: blue;
}

.list-lang li:nth-child(n + 2):nth-child(-n + 3) {
  background-color: violet;
}

.allies li:nth-child(n):hover {
  font-weight: 800;
}

.allies li:nth-child(1) a:hover {
  color: #ff4500;
}

.allies li:nth-child(2) a:hover {
  color: #04aa6d;
}

.allies li:nth-child(3) a:hover {
  color: #1b1b1b;
}

.allies li:nth-child(4) a:hover {
  color: rgb(224, 224, 4);
}

.allies li:nth-child(5) a:hover {
  color: #2fc18c;
}
