body {
  font-size: 16px;
}

h1 {
  font-size: 65px;
  color: #ffa500;
  font-family: sans-serif;
  font-weight: 600;
  text-decoration: underline;
}

p {
  font-size: 3em;
}

ul {
  background-color: #808080;
  text-align: center;
  font-style: italic;
  line-height: 25px;
}

.favorite-color {
  background-color: #4b0082;
  color: #ffffff;
}

#yellow {
  background-color: #ffff00;
  color: #000000;
}

#red {
  background-color: #ff0000;
}

#brown {
  background-color: #a52a2a;
}
