form {
  margin: 30px auto;
  width: 70%;
}

input[type=button] {
  font-size: 17px;
  font-weight: 600;
  margin-left: 7px;
  padding: 8px;
  width: 150px;
}

label {
  font-size: 1.5rem;
}

input[type=email] {
  font-size: 18px;
  padding: 8px;
  margin-left: 7px;
  width: 450px;
}

span {
  color: royalblue;
}